<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101990761404-1h2pi0inbo09il6p8dbfrm9csha7vic1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101990761404-1h2pi0inbo09il6p8dbfrm9csha7vic1</string>
	<key>API_KEY</key>
	<string>AIzaSyBe5uN-yhPnvQwIIdLdwGAu2mDXTE-HuTI</string>
	<key>GCM_SENDER_ID</key>
	<string>101990761404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.gopizza</string>
	<key>PROJECT_ID</key>
	<string>gopizza-app-hocketseat</string>
	<key>STORAGE_BUCKET</key>
	<string>gopizza-app-hocketseat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101990761404:ios:8ed6849ae34f0ea575e1b9</string>
</dict>
</plist>